<!DOCTYPE html>
<html>
<head>
    <title>BS Observer</title>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
    <link rel="stylesheet" href="bulma.css">
    <link rel="stylesheet" href="bulma-extensions.css">
</head>
<body>

<div id="root">
</div>


<script src="react.js"></script>
<script src="react-dom.js"></script>


<!-- app.js will be injected by HtmlWebpackPlugin (with a cache busting hash) -->

</body>
</html>
